/*Stylesheet*/

/*Header*/
header{
    border-bottom: solid 2px #cccccc;
    background-color: white;
    height: 150px;
    margin: 0px auto 20px auto;
    max-width: 100%;
}

.headercontent{
    margin: auto;   
    max-width: 960px;
}

.name{
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    display: inline-block; 
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 24px;
    font-weight: 900;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 85px;
}

nav{
    display: inline-flex;
    left: 43%;
    position: relative;
    text-align: center;
    top: 85px;
}

#about, #portfolio, #contact{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';    
    padding: 20px;
}

a:link, a:visited{
    color: #777777;
    text-decoration: none;
}

/*Body*/
body {
    background-image:url(/Users/nicolewilsey/trilogy/homework/Basic-Portfolio/assets/images/dust_scratches.png); 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    height: 100%;
    width: 100%;
}

.container{
    background-color: #ffffff;
    border: solid 2px #dddddd;
    margin: auto;   
    margin-bottom: 50px;
    max-height: 100%;
    max-width: 960px;
    padding: 10px 0px 0px 0px;
}

h1{
    border-bottom: solid 2px #dddddd;
    color: #4aaaa5;
    display: block;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    left: 10%;
    position: relative;
    width: 80%;
}

/*About Page*/

.mainphoto{
    float: left;
    padding: 20px;
}

blockquote{
    line-height: 1.7;
    padding: 20px;
}

/*Contact Page*/
form{
    left: 10%;
    position: relative;
    width: 90%;
}

input{
    border: 1px lightgrey solid;
    margin: 5px 0px 5px 0px;
    position: relative;
    width: 90%;
}

textarea{
    border: #cccccc solid 1px;
    height: 150px; 
    left: 50%;
    width: 90%;
}

fieldset{
    border: none;
}

#submit{
    background-color: #4aaaa5;
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    width: 10%;
}

/*Portfolio Page*/

.flex-container{
    background-color: #ffffff;
    display: flex;
    left: 10%;
    margin: auto;   
    margin-bottom: 50px;
    max-height: 100%;
    max-width: 960px;
    padding: 10px 0px 0px 0px;
    width: 90%;
}

.image{
    padding: 20px;
    position: relative;
}

h2{
    align-items: center;
    background-color: #4aaaa5;
    bottom: 20px;
    color: white;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 15%;
    justify-content: center;
    position: absolute;
    width: 80%; 
}

/*Footer*/
footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    bottom: 0px;
    width: 100%;
    color: white;
    font-size: 10px;
    height: 50px;
    position: fixed;
    text-align: center;
}

/*Media Queries*/

/*980px*/
@media screen and (max-width: 980px) {
    .container{
        width: 700px;
    }

    .name{
        clear: both;
        float: left;
        left: 10%;
    }

    nav{
        float: left;
        left: 30%; 
    }

}

/*768px*/
@media screen and (max-width: 768px) {
    .container{
        max-width: 700px;
    }
    
    .name{
        clear: both;
        float: left;
        left: 5%;
    }

    nav{
        float: left;
        left: 25%; 
    }
    
    .flex-container{
        flex-wrap: wrap;
    }
}


/*640px*/
@media screen and (max-width: 640px) {
    .container{
        max-width: 600px;
    }

    header{
        max-width: 640px;
    }

    .headercontent {
        max-width: 640px;
    }

    nav {
        left: 10%;
    }

    .name{
        left: 3%;
    }

    .flex-container{
        flex-wrap: wrap;
    }

    footer{
        max-width: 640px;
    }
}

/*600px*/
@media screen and (max-width: 600px){
    .container{
        max-width: 600px;
    }

    header{
        max-width: 600px;
    }

    .headercontent{
        max-width: 600px;
    }

    .name{
        left: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 600px;
    }

    nav{
        position: relative;
        top: 0;
        left: 25%;
        justify-content: center;
    }
}

/*375px*/
@media screen and (max-width: 375px) {
    .container{
        max-width: 375px;
    }

    header{
        max-width: 375px;
    }

    .headercontent{
        max-width: 375px;
    }

    .name{
        left: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 375px;
    }

   nav{
       top: 0px;
       left: 15%;
        justify-content: center;
   }

   #submit{
       width: 20%;
   }
